# CSE-221710308061-Dheeraj

In [24]:
#1.Arithematic operations on panda series

import pandas as pd
import numpy as np
a = pd.Series([2,4,6,8,10], index=['a', 'b', 'c', 'd','e'])
b = pd.Series([1, 3, 5,7,9], index=['a', 'b', 'c', 'd','e'])
print (a+b)
print (a-b)
print(a*b)
print(a/b)

a     3
b     7
c    11
d    15
e    19
dtype: int64
a    1
b    1
c    1
d    1
e    1
dtype: int64
a     2
b    12
c    30
d    56
e    90
dtype: int64
a    2.000000
b    1.333333
c    1.200000
d    1.142857
e    1.111111
dtype: float64

In [25]:
#2. Quartiles

import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [5]:
#3.List Difference
l1 = pd.Series([1, 2, 3, 4, 5])
l2 = pd.Series([2, 4, 6, 8, 10])
test = l1[~l1.isin(l2)]
print(test)

0    1
2    3
4    5
dtype: int64

In [6]:
#4. Filter multiple vowels

from collections import Counter
color= pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color)
print("vowels greater than 2:")
out = color.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color[out])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
vowels greater than 2:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [8]:
#5. Select 2 rows and print greater of 2

import numpy as np
exam= {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
s= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam , index=s)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
print(df[(df['attempts'] > 2)])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes