# tuples

In [1]:
t1=(1,2,3,4)
print(type(t1))

<class 'tuple'>

In [2]:
print(t1[2])
print(t1[-1])

3
4

In [4]:
l=list(t1)
l[2]=100
t1=tuple(l)
t1

(1, 2, 100, 4)

In [5]:
#unpacking
t2=(12,232,4,345)
a,b,c,d=t2
print(d)

345

In [ ]:
#packing
x=1,2,3
print(type(x))
print(x)

In [6]:
#single ele
y=(10,)
print(type(y))

<class 'tuple'>

In [8]:
#iterating through
for ele in y:
    print(ele,end=" ")

10

# sets

In [9]:
set1={1,2,3,4,5,6,2,1}
print(set1)

{1, 2, 3, 4, 5, 6}

In [10]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 3, 4, 5, 6}
6
1
6

In [12]:
#list to set conv
l1=[1,2,3,4,5,6]
l1=set(l1)#set doesnot have duplicate values 
l1#and operations using index cannot vbe performed

{1, 2, 3, 4, 5, 6}

# bulit in methods
## in sets methods

In [14]:
s2=set()
print(type(s2))

<class 'set'>

In [17]:
s2.add(12)
s2.add(120)
s2.add(127)
s2.add(2)
s2

{2, 12, 120, 127}

In [19]:
s2.pop()

120

In [20]:
s2.remove(12)

In [21]:
s2.discard(12)

In [22]:
s2.clear()
s2

set()

In [28]:
#set opertaions
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.union(b))#union U oprn
print(a-b)
print(b-a)
print(a.difference(b))
print(b.difference(a))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [34]:
#subset superset disjoint set
c={1,2,3,4,5,6,7,8,9,10}
print(a.issubset(c))
print(a.issubset(b))
print(c.issuperset(a))

True
False
True

In [32]:
#disjoint
print(a.isdisjoint(b))

False

In [35]:
#symmetric difference
print(a.symmetric_difference(b))

{1, 2, 6, 7}

In [36]:
a.update(b)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [37]:
a.intersection_update(b)
print(a)
print(b)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

# dictionary

In [38]:
dict1={'name':'dheeraj','emp':'111','add':'hyd'}
print(dict1)

{'name': 'dheeraj', 'emp': '111', 'add': 'hyd'}

In [39]:
print(dict1['emp'])

111

In [40]:
del dict1['add']
print(dict1)

{'name': 'dheeraj', 'emp': '111'}

# built in methods

In [51]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1.get('name'))

dict_keys(['name', 'emp', 'address', 2])
dict_values(['dheeraj', '111', 'hyd', 2])
dict_items([('name', 'dheeraj'), ('emp', '111'), ('address', 'hyd'), (2, 2)])
dheeraj

In [42]:
dict1['address']='hyd'
dict1

{'name': 'dheeraj', 'emp': '111', 'address': 'hyd'}

In [43]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'dheeraj', 'emp': '111', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [49]:
dict1.pop(1)
dict1

{'name': 'dheeraj', 'emp': '111', 'address': 'hyd', 2: 2, 3: 3}

In [50]:
dict1.popitem()

(3, 3)

In [60]:
import random
x = int(input())
random.randint(2,100)#random nuber
random.choice()#random string

5

TypeError: choice() missing 1 required positional argument: 'seq'